@font-face {
  font-family: 'sell-icon';
  src:  url('../fonts/sell-icon.eot?7rnztb');
  src:  url('../fonts/sell-icon.eot?7rnztb#iefix') format('embedded-opentype'),
    url('../fonts/sell-icon.ttf?7rnztb') format('truetype'),
    url('../fonts/sell-icon.woff?7rnztb') format('woff'),
    url('../fonts/sell-icon.svg?7rnztb#sell-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sell-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bullhorn:before {
  content: "\e91a";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-hammer:before {
  content: "\e996";
}
.icon-point-right:before {
  content: "\ea04";
}
.icon-point-down:before {
  content: "\ea05";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-twitter:before {
  content: "\ea96";
}
